
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.tablebox {
  overflow-y: auto;
  max-height: 75vh;
  margin: 20px 0;
}

td, th {
  cursor: pointer;
}

th a {
  color: white;
  text-decoration: underline
}

.completed-row td {
  color: #c9c9c9;
}

.hide {
  display: none;
}

.modal-header {
  width: 100%;
  background-color: #777;
  color: #fff;
}

.modal-header.completed {
  background-color: #217124;
}

.task-priority {
  padding: 10px 0;
}

.task-created {
  font-size: 75%;
  color: #aaa;
}

.task-completed {
  font-size: 75%;
  font-style: italic;
  color: #217124;
}
