
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.header {
  padding: 10px 0;
}

/* Table Elements */
.tablebox {
  overflow-y: auto;
  max-height: calc(75vh - 50px);
  margin: 20px 0;
}

table {
  width: 100%;
}

td, th {
  cursor: pointer;
}

th a {
  color: white;
  text-decoration: underline
}

.completed td {
  color: #c9c9c9;
}

.header-complete,
.header-priority {
  text-align: center;
}

.row-complete,
.row-priority {
  text-align: center;
}

.hide {
  display: none;
}

/* View Modal */
.modal-header {
  width: 100%;
  background-color: #777;
  color: #fff;
}

.modal-header.completed {
  background-color: #217124;
}

.task-priority {
  padding: 10px 0;
}

.task-created {
  font-size: 75%;
  color: #aaa;
}

.task-completed {
  font-size: 75%;
  font-style: italic;
  color: #217124;
}

@media all and (max-width: 768px) {
  .addBtn, .cancelBtn,
  .submitBtn {
    width: 50%;
    margin: 0 25%;
  }


}
