
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.tablebox {
  overflow-y: auto;
  max-height: 75vh;
  margin: 20px 0;
}

td, th {
  cursor: pointer;
}

th a {
  color: white;
  text-decoration: underline
}

.completed-row td {
  color: #c9c9c9;
}

.hide {
  display: none;
}

.modal-body-date {
  font-size: 75%;
}
